h3 {
    padding-top: 40px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    font-weight: 400;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th {
    text-align: left;
    font-weight: 500;
    padding-left: 1%;
}

td {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 10px;
    padding-left: 10px;
    text-align: left;
    font-weight: 300;
    position: relative;
    margin: auto;
}

.descr {
    max-width: 650px;
    width: 650px;
}

.stars {
    text-align: center;
}

hr {
    width: 640%;
    border-radius: 25%;
    opacity: rgba(0,0,0,0.5);
}